<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skills Lab</Label></h1>
    <p>Click <a href="/skills">here</a> to view skills.</p>
  </body>
</html>
